
/* Hide the container by default */
#changeContainer {
    display: none;
    
}
#changeBtn{
    cursor: pointer;
    text-decoration: underline;
    font-style: italic;
}
.full-width{
    min-width: 100% !important;
}
#wpfooter {
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
    right: 0;
    padding: 10px 20px;
    color: #50575e;
}


/* VENDOR PROFILE DASHBOARD */
.profile-card {
    border-radius: 20px;
    background: linear-gradient(to right, #fefefe, #f7f8ff);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.profile-avatar {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    
}
.form-label {
    font-weight: 500;
}
.img-preview {
    max-width: 100%;
    height: auto;
    display: block;
}
#profile-dashboard{
min-width: 100%;
padding:50px !important

}